<!DOCTYPE html>
<html ng-app="samples">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="default.css" />
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="db_samples.js"></script>
	</head>

	<body>
        <div ng-controller="database as db">
            <button ng-click="db.getAll()">GET all languages</button>
        </div>
        
        <div ng-controller="database">
            <button ng-click="createNew()">POST/Create new language</button>
        </div>
        
        <div ng-controller="database">
            <button ng-click="updateRandom()">PUT/Update first language</button>
        </div>
        
        <div ng-controller="database">
            <button ng-click="deleteRandom()">DELETE first language</button>
        </div>
        
        <div ng-controller="database">
            <button ng-click="login()">Login as admin@angular.local having password "angularjs"</button>
        </div>
    </body>
</html>
