/* CSS Datei zur optischen Validierung der Eingabefelder */
/* Gültig */
input.ng-valid.ng-dirty,
select.ng-valid.ng-dirty {
  border: 3px solid green;
}

/* Ungültig */
input.ng-invalid.ng-dirty,
select.ng-invalid.ng-dirty {
  border: 3px solid red;
}

/* Leer */
input.ng-invalid.ng-invalid-required.ng-dirty,
select.ng-invalid.ng-invalid-required.ng-dirty {
  border: 3px dashed red;
}